/* home */
.green ::-moz-selection { background:#A9BCB8; color:#FFF;}
.green ::selection { background:#A9BCB8; color:#FFF;}
body.green {
	background:#A9BCB8;
}
.main-nav > ul > li.green.current-menu-item > a,
.main-nav > ul > li.green.current-page-ancestor > a, 
.main-nav > ul > li.green a:hover {
	background:#A9BCB8;
	color:#FFF;
}
.main-nav > ul > li.green.current-menu-item > a:after, 
.main-nav > ul > li.green.current-menu-item > a:before,
.main-nav > ul > li.green.current-page-ancestor > a:after, 
.main-nav > ul > li.green.current-page-ancestor > a:before, 
.main-nav > ul > li.green a:hover:after, 
.main-nav > ul > li.green a:hover:before {
	border-top: 6px solid #A9BCB8;
}
.green .pod-title {
	background:#A9BCBB;
	color:#FFF;
}
.green .flex-control-paging li a {
	background: #A9BBB7;
}
.green .blog-title a:hover {
	color:#A9BBB7;
}
/* event spaces */
.orange ::-moz-selection { background:#BE904D; color:#FFF;}
.orange ::selection { background:#BE904D; color:#FFF;}
body.orange {
	background:#BE904D;
}
.main-nav > ul > li.orange.current-menu-item > a,
.main-nav > ul > li.orange.current-page-ancestor > a, 
.main-nav > ul > li.orange a:hover {
	background:#BE904D;
	color:#FFF;
}
.main-nav > ul > li.orange.current-menu-item > a:after, 
.main-nav > ul > li.orange.current-menu-item > a:before,
.main-nav > ul > li.orange.current-page-ancestor > a:after, 
.main-nav > ul > li.orange.current-page-ancestor > a:before, 
.main-nav > ul > li.orange a:hover:after, 
.main-nav > ul > li.orange a:hover:before {
	border-top: 6px solid #BE904D;
}
.event-info-boxes li {
	background:#BE904D;
	color:#FFF;
}
.event-info-boxes li:hover {
	background:#585858;
	
}

.orange .pod-title {
	background:#BE904D;
	color:#FFF;
}
.orange .flex-control-paging li a {
	background: #BE904D;
}
.orange .book-btn, .orange .book-btn a {
	display:block;
	background: #BE904D;
	color:#FFF;
	font-size:18px;
	height:40px; line-height:40px;
	text-align:center;
	width:100%;
	text-transform:uppercase;
}
.orange .book-btn:hover, .orange .book-btn a:hover {
	background:#585858;
}
ul.event-info-boxes li.tube p {
	background:url(../images/tube-icon.png) no-repeat center left;
	padding-left:25px;
}
ul.event-info-boxes li.wed p {
	background:url(../images/weddings-icon.png) no-repeat center left;
	padding-left:25px;
}
ul.event-info-boxes li.xmas p {
	background:url(../images/christmas-icon.png) no-repeat center left;
	padding-left:25px;
}
ul.event-info-boxes li.ddr p {
	background:url(../images/ddr-icon.png) no-repeat center left;
	padding-left:25px;
}
ul.event-info-boxes li.bar p {
	background:url(../images/rest-bar-icon.png) no-repeat center left;
	padding-left:16px;
}
.blog-entries.rooms > .summary a:hover {
	color:#BE904D;
}
ul.room-info-boxes li a {
	background:#BE904D;
	color:#FFFFFF;
}
ul.room-info-boxes li a:hover {
	background:#585858;
	color:#FFFFFF;
}
.event-rooms-excerpt h5 a:hover {
	color:#BE904D;
}
/* restaurant */
.purple ::-moz-selection { background:#9A97B8; color:#FFF;}
.purple ::selection { background:#9A97B8; color:#FFF;}
body.purple {
	background:#9A97B8;
}
.main-nav > ul > li.purple.current-menu-item > a,
.main-nav > ul > li.purple.current-page-ancestor > a, 
.main-nav > ul > li.purple a:hover {
	background:#9A97B8;
	color:#FFF;
}
.main-nav > ul > li.purple.current-menu-item > a:after, 
.main-nav > ul > li.purple.current-menu-item > a:before, 
.main-nav > ul > li.purple.current-page-ancestor > a:after, 
.main-nav > ul > li.purple.current-page-ancestor > a:before, 
.main-nav > ul > li.purple a:hover:after, 
.main-nav > ul > li.purple a:hover:before {
	border-top: 6px solid #9A97B8;
}
.purple .pod-title {
	background:#9A97B8;
	color:#FFF;
}
.purple .flex-control-paging li a {
	background: #9A97B8;
}
/* packages */
.brown ::-moz-selection { background:#BB9273; color:#FFF;}
.brown ::selection { background:#BB9273; color:#FFF;}
body.brown {
	background:#BB9273;
}
.main-nav > ul > li.brown.current-menu-item > a,
.main-nav > ul > li.brown a:hover {
	background:#BB9273;
	color:#FFF;
}
.main-nav > ul > li.brown.current-menu-item > a:after, 
.main-nav > ul > li.brown.current-menu-item > a:before, 
.main-nav > ul > li.brown a:hover:after, 
.main-nav > ul > li.brown a:hover:before {
	border-top: 6px solid #BB9273;
}
.brown .pod-title {
	background:#BB9273;
	color:#FFF;
}
.brown .flex-control-paging li a {
	background: #BB9273;
}
.brown .book-btn, .brown .book-btn a {
	display:block;
	background: #BB9273;
	color:#FFF;
	font-size:18px;
	height:40px; line-height:40px;
	text-align:center;
	width:100%;
	text-transform:uppercase;
}
.brown .book-btn:hover, .brown .book-btn a:hover {
	background:#585858;
}
h4.book-event {
	font-size:23px;
	color:#BB9273;
}
/* latest news */
.blue ::selection { background:#A5b2C7; color:#FFF;}
body.blue {
	background:#A5b2C7;
}
.main-nav > ul > li.blue.current-menu-item > a, 
.main-nav > ul > li.blue.current-page-ancestor > a, 
.main-nav > ul > li.blue a:hover {
	background:#A5b2C7;
	color:#FFF;
}
.main-nav > ul > li.blue.current-menu-item > a:after, 
.main-nav > ul > li.blue.current-menu-item > a:before,
.main-nav > ul > li.blue.current-page-ancestor > a:after, 
.main-nav > ul > li.blue.current-page-ancestor > a:before, 
.main-nav > ul > li.blue a:hover:after, 
.main-nav > ul > li.blue a:hover:before {
	border-top: 6px solid #A5b2C7;
}
.blog-tags li a, .wp-tag-cloud li a {
	color:#FFF;
}
.blog-tags li a:hover, .wp-tag-cloud li a:hover, .wp-tag-cloud li a.active   {
	background-color:#585858!important;
}
.blog-tags li.press a, .wp-tag-cloud li a.tag-link-7 {
	background:#A5b2C7 url(../images/press-icon.png) no-repeat 5px center;
	padding-left:30px;
	padding-right:8px;
}
.blog-tags li.weddings a, .wp-tag-cloud li a.tag-link-8 {
	background:#A5b2C7 url(../images/weddings-icon.png) no-repeat 5px center;
	padding-left:30px;
	padding-right:8px;
}
.blog-tags li.restaurant a, .wp-tag-cloud li a.tag-link-9 {
	background:#A5b2C7 url(../images/rest-bar-icon.png) no-repeat 5px center;
	padding-left:21px;
	padding-right:8px;
}
.blog-tags li.events a, .wp-tag-cloud li a.tag-link-27 {
	background:#A5b2C7 url(../images/event-icon.png) no-repeat 5px center;
	padding-left:21px;
	padding-right:8px;
}

.blog-tags li.events a, .wp-tag-cloud li a.tag-link-28 {
	background:#A5b2C7 url(../images/hosp-icon.png) no-repeat 5px center;
	padding-left:21px;
	padding-right:8px;
}

.blog-tags li p a:hover {
	color:#585858;
}
.blog-entries > .summary {
	border-top:1px dotted #A5b2C7;

}
.blog-entries.blogs > .summary a:hover {
	color:#A5b2C7;
}
.post-tags {
	float:left;
}
.post-tags li  {
	float:left;
	height:15px;
	margin-left:7px;
}
.post-tags li a {
	display:inline-block; height:15px;
}
.post-tags li:first-child {
	margin-left:0;
}
.post-tags li.wedding a {
	background:url(../images/weddings-icon-post-tag.png) no-repeat 0 0;
	width:14px;
}

.post-tags li.events a {
	background:url(../images/event-icon-post-tag.png) no-repeat 0 0;
	width:14px;
}

.post-tags li.press a {
	background:url(../images/press-icon-post-tag.png) no-repeat 0 0;
	width:17px;
}
.post-tags li.restaurant-bar a {
	background:url(../images/rest-icon-post-tag.png) no-repeat 0 0;
	width:7px;
}
.post-tags li.hospitality-menus a {
	background:url(../images/rest-icon-post-tag.png) no-repeat 0 0;
	width:7px;
}

/* contact */
.olive ::selection { background:#BCAB8B; color:#FFF;}
body.olive {
	background:#BCAB8B;
}
.main-nav > ul > li.olive.current-menu-item > a, 
.main-nav > ul > li.olive a:hover {
	background:#BCAB8B;
	color:#FFF;
}
.main-nav > ul > li.olive.current-menu-item > a:after, 
.main-nav > ul > li.olive.current-menu-item > a:before, 
.main-nav > ul > li.olive a:hover:after, 
.main-nav > ul > li.olive a:hover:before {
	border-top: 6px solid #BCAB8B;
}
.large-map-link {
	color:#000000;
}
.large-map-link:hover {
	color:#BCAB8B;
}